$font-path: "./fonts" !default;

@font-face {
  font-family: "Gotham_Light";
  src: local("Gotham Light"), local("Gotham_Light"), local("Gotham-Light"),
    url("#{$font-path}/Gotham_Light.otf"), format("opentype");
}

@import "headings";

body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: "Gotham_Light", "Gotham_Book", sans-serif, $font__main;
  font-size: 1rem;
  line-height: $font__line-height-body;
}

@import "copy";
